@import 'bootstrap/assets/stylesheets/bootstrap'

body
  background-color: lightblue

.warning-button
  background-color: red

.glyphicon-menu-right
  padding-left: 15px

.navbar, .navbar-collapse

.radioBtnGroup
  max-width: 50%

.navbar-brand
  align-items: center
  justify-content: center

button.navbar-toggle
  border: none
  float: left

@import 'button'
