@import 'bootstrap/assets/stylesheets/bootstrap'
@import 'button'
@import 'toggle-button'
@import 'radio-button'

$placeholder-text-color: #C7C2B9
$focus-underline-color: #4784AD

// To more closely match the spec, space out characters slightly
*
  letter-spacing: 0.035em

// Override outline on hover and underline instead
.hhClassForm input:focus, .hasFocus
  outline: none
  box-shadow: inset 0 -1px 0 0.99px $focus-underline-color

body
  background-color: white
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

input::placeholder
  color: $placeholder-text-color

.glyphicon-menu-right
  padding-left: 15px

// Set white space above red line
.navbar.navbar-default
  margin-top: 20px

a.navbar-brand
  margin: auto

button.navbar-toggle
  border: none
  float: left

.navbar.navbar-default
  background-color: white
  border-top: 4px solid #C23750
  border-bottom: 1px solid rgba(0, 0, 0, .09)
  border-radius: 0px
  box-shadow: 0px 0px 2px lightgrey

.nav.navbar-nav.nav-tabs
  border-style: hidden
  margin: 0 auto

.nav-tabs li a
  border: 0px
  border-style: hidden

.nav-tabs:hover
  border: hidden

// Set padding for elements in form-group class
.form-group > *
  margin: 10px 15px
  padding-bottom: 5px

.hhClassForm
  max-width: 700px
  margin: auto

.hhClassForm input
  border: none
  border-bottom: 1px solid #ddd

.form-row
  width: 85%
  font-size: 1.5em

h2.form-row
  font-size: 1.25em
  text-align: left
  color: #4784AD
  margin-bottom: 5px

.form-inline
  margin: 25px 0

.form-inline > *
  width: 45%

.form-inline > textarea
  width: 100%
  border-radius: 3px
  border-color: #ddd

input.pull-left
  margin-right: 0

input.pull-right
  margin-left: 0


div.form-inline.recurrenceButtons
  margin: 1em 0

.recurrenceButtons, .recurrenceButtons > *
  padding-left: 0

// Overwrites the width,
.radio-inline.classOccurance
  float: left
  text-align: left
  cursor: default
  width: 100px
  margin-right: 25px

// Center the text spans vertically
span.radioSpan, span.toggleSpan, #toggleSwitchPrivateLabel
  display: inline-block
  vertical-align: middle
  line-height: normal
  margin: 0

// Set min-width for text to appear on same line
.toggleSpan
  min-width: 150px

.radio-inline.toggleSwitch
  cursor: default

#toggleSwitchPrivateLabel
  margin: 0 15px 0 10px

.descriptionSection
  color: $placeholder-text-color
  margin-top: 35px

.descriptionSection > textarea
  margin-top: 12.5px

.submitButtons
  position: absolute
  left: 0
  // Set width to 100% of the View Window/Port
  width: 100vw
  border-top: 1px solid rgba(0, 0, 0, .09)
  border-radius: 0px
  box-shadow: 0px -1px 2px rgba(0, 0, 0, .09)
  margin: 4em 0
  padding: 1em

.submitButtons > .btn
  margin: 0 10px
