body
  background-color: lightblue

.glyphicon-menu-right
  padding-left: 15px

.navbar, .navbar-collapse
  text-align: center
  align-items: center
  justify-content: center

button.navbar-toggle
  border: none
  float: left
